
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --offwhite: #f4e3c7;
  --blue1: #c6e6ed;
  --blue2: #9cdcec;
  --blue3: #5184e2;
  --purple: #433C83;
}

#root {
  width: 100%; 
  margin: 0;
  text-align: center;
  padding: 0; 
}

